<div class="container">
  <h1>Deez Notes, Doe</h1>
  <h3><%= @this_note.title %>:</h3>
  <%= @this_note.content %>

<p><a href="/notes/<%= @this_note.id %>/edit">Edit this note</a></p>

<form action="/notes/<%= @this_note.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete">
</form>

<p><a href="/">Home</a></p>

</div>


